<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asuma_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,196}</string>
                <key>spriteSourceSize</key>
                <string>{226,196}</string>
                <key>textureRect</key>
                <string>{{1189,851},{226,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chiyo_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,238}</string>
                <key>spriteSourceSize</key>
                <string>{223,238}</string>
                <key>textureRect</key>
                <string>{{414,256},{223,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Choji_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,227}</string>
                <key>spriteSourceSize</key>
                <string>{230,227}</string>
                <key>textureRect</key>
                <string>{{639,249},{230,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Deidara_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,193}</string>
                <key>spriteSourceSize</key>
                <string>{224,193}</string>
                <key>textureRect</key>
                <string>{{1417,842},{224,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gaara_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,194}</string>
                <key>spriteSourceSize</key>
                <string>{250,194}</string>
                <key>textureRect</key>
                <string>{{1533,440},{250,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Han_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,215}</string>
                <key>spriteSourceSize</key>
                <string>{238,215}</string>
                <key>textureRect</key>
                <string>{{1538,223},{238,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hidan_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,216}</string>
                <key>spriteSourceSize</key>
                <string>{271,216}</string>
                <key>textureRect</key>
                <string>{{1027,0},{271,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hinata_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,253}</string>
                <key>spriteSourceSize</key>
                <string>{219,253}</string>
                <key>textureRect</key>
                <string>{{250,524},{219,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hiruzen_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,235}</string>
                <key>spriteSourceSize</key>
                <string>{253,235}</string>
                <key>textureRect</key>
                <string>{{772,0},{253,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImmortalSasuke_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,220}</string>
                <key>spriteSourceSize</key>
                <string>{205,220}</string>
                <key>textureRect</key>
                <string>{{871,237},{205,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ino_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,219}</string>
                <key>spriteSourceSize</key>
                <string>{263,219}</string>
                <key>textureRect</key>
                <string>{{1300,0},{263,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Itachi_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,164}</string>
                <key>spriteSourceSize</key>
                <string>{214,164}</string>
                <key>textureRect</key>
                <string>{{1785,609},{214,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jiraiya_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,202}</string>
                <key>spriteSourceSize</key>
                <string>{239,202}</string>
                <key>textureRect</key>
                <string>{{948,889},{239,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jugo_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,232}</string>
                <key>spriteSourceSize</key>
                <string>{237,232}</string>
                <key>textureRect</key>
                <string>{{244,779},{237,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,222}</string>
                <key>spriteSourceSize</key>
                <string>{232,222}</string>
                <key>textureRect</key>
                <string>{{679,478},{232,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakuzu_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,186}</string>
                <key>spriteSourceSize</key>
                <string>{223,186}</string>
                <key>textureRect</key>
                <string>{{483,966},{223,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kankuro_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,221}</string>
                <key>spriteSourceSize</key>
                <string>{238,221}</string>
                <key>textureRect</key>
                <string>{{1565,0},{238,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Karin_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,208}</string>
                <key>spriteSourceSize</key>
                <string>{192,208}</string>
                <key>textureRect</key>
                <string>{{1805,0},{192,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kiba_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,239}</string>
                <key>spriteSourceSize</key>
                <string>{248,239}</string>
                <key>textureRect</key>
                <string>{{0,535},{248,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kimimaro_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,254}</string>
                <key>spriteSourceSize</key>
                <string>{241,254}</string>
                <key>textureRect</key>
                <string>{{281,0},{241,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisame_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,196}</string>
                <key>spriteSourceSize</key>
                <string>{223,196}</string>
                <key>textureRect</key>
                <string>{{1778,223},{223,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Konan_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,190}</string>
                <key>spriteSourceSize</key>
                <string>{161,190}</string>
                <key>textureRect</key>
                <string>{{1643,833},{161,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lee_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,210}</string>
                <key>spriteSourceSize</key>
                <string>{232,210}</string>
                <key>textureRect</key>
                <string>{{1095,435},{232,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minato_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,209}</string>
                <key>spriteSourceSize</key>
                <string>{246,209}</string>
                <key>textureRect</key>
                <string>{{1290,221},{246,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nagato_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.504854}</string>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{202,206}</string>
                <key>spriteSourceSize</key>
                <string>{202,206}</string>
                <key>textureRect</key>
                <string>{{1329,432},{202,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Naruto_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,181}</string>
                <key>spriteSourceSize</key>
                <string>{184,181}</string>
                <key>textureRect</key>
                <string>{{1806,775},{184,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Neji_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,219}</string>
                <key>spriteSourceSize</key>
                <string>{225,219}</string>
                <key>textureRect</key>
                <string>{{703,702},{225,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Orochimaru_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,215}</string>
                <key>spriteSourceSize</key>
                <string>{210,215}</string>
                <key>textureRect</key>
                <string>{{1078,218},{210,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pain_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,195}</string>
                <key>spriteSourceSize</key>
                <string>{231,195}</string>
                <key>textureRect</key>
                <string>{{1537,636},{231,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RikudoNaruto_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,264}</string>
                <key>spriteSourceSize</key>
                <string>{279,264}</string>
                <key>textureRect</key>
                <string>{{0,0},{279,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RockLee_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,210}</string>
                <key>spriteSourceSize</key>
                <string>{232,210}</string>
                <key>textureRect</key>
                <string>{{1095,435},{232,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Roshi_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,267}</string>
                <key>spriteSourceSize</key>
                <string>{241,267}</string>
                <key>textureRect</key>
                <string>{{0,266},{241,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SageJiraiya_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,202}</string>
                <key>spriteSourceSize</key>
                <string>{182,202}</string>
                <key>textureRect</key>
                <string>{{1162,647},{182,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SageNaruto_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,228}</string>
                <key>spriteSourceSize</key>
                <string>{218,228}</string>
                <key>textureRect</key>
                <string>{{483,736},{218,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sai_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,186}</string>
                <key>spriteSourceSize</key>
                <string>{209,186}</string>
                <key>textureRect</key>
                <string>{{1785,421},{209,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sakura_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,185}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1806,958},{161,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sasuke_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,210}</string>
                <key>spriteSourceSize</key>
                <string>{230,210}</string>
                <key>textureRect</key>
                <string>{{930,677},{230,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shikamaru_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,238}</string>
                <key>spriteSourceSize</key>
                <string>{206,238}</string>
                <key>textureRect</key>
                <string>{{471,496},{206,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shino_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,256}</string>
                <key>spriteSourceSize</key>
                <string>{169,256}</string>
                <key>textureRect</key>
                <string>{{243,266},{169,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Suigetsu_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,200}</string>
                <key>spriteSourceSize</key>
                <string>{189,200}</string>
                <key>textureRect</key>
                <string>{{1346,640},{189,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tenten_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,216}</string>
                <key>spriteSourceSize</key>
                <string>{180,216}</string>
                <key>textureRect</key>
                <string>{{913,459},{180,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tobi_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,232}</string>
                <key>spriteSourceSize</key>
                <string>{242,232}</string>
                <key>textureRect</key>
                <string>{{0,776},{242,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tobirama_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,219}</string>
                <key>spriteSourceSize</key>
                <string>{238,219}</string>
                <key>textureRect</key>
                <string>{{708,923},{238,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tsunade_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,247}</string>
                <key>spriteSourceSize</key>
                <string>{246,247}</string>
                <key>textureRect</key>
                <string>{{524,0},{246,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ougis2.png</string>
            <key>size</key>
            <string>{2001,1152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d850649e6ab7ab8ac384f1c8bf57cfbd:b749e51e0091531c9c58ad7d53972c30:e3c3161075e594ab2abf9ef6e2cb229b$</string>
            <key>textureFileName</key>
            <string>Ougis2.png</string>
        </dict>
    </dict>
</plist>
