<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asuma_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.378476,0.5}</string>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{210,228}</string>
                <key>spriteSourceSize</key>
                <string>{210,228}</string>
                <key>textureRect</key>
                <string>{{666,690},{210,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chiyo_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,229}</string>
                <key>spriteSourceSize</key>
                <string>{234,229}</string>
                <key>textureRect</key>
                <string>{{279,0},{234,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Choji_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{515,0},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Deidara_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,228}</string>
                <key>spriteSourceSize</key>
                <string>{231,228}</string>
                <key>textureRect</key>
                <string>{{236,1612},{231,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gaara_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{751,0},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hidan_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,228}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{878,690},{206,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hinata_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,228}</string>
                <key>spriteSourceSize</key>
                <string>{190,228}</string>
                <key>textureRect</key>
                <string>{{893,1380},{190,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hinata_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{987,0},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hiruzen_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{1223,0},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImmortalSasuke_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{1459,0},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ino_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,228}</string>
                <key>spriteSourceSize</key>
                <string>{220,228}</string>
                <key>textureRect</key>
                <string>{{469,1612},{220,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ino_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{1695,0},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Itachi_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,228}</string>
                <key>spriteSourceSize</key>
                <string>{195,228}</string>
                <key>textureRect</key>
                <string>{{691,1610},{195,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jiraiya_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{515,230},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jugo_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{279,231},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,228}</string>
                <key>spriteSourceSize</key>
                <string>{232,228}</string>
                <key>textureRect</key>
                <string>{{236,1382},{232,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakuzu_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{751,230},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kankuro_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{987,230},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Karin_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,227}</string>
                <key>spriteSourceSize</key>
                <string>{164,227}</string>
                <key>textureRect</key>
                <string>{{1085,1380},{164,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Karin_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{1223,230},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kiba_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,228}</string>
                <key>spriteSourceSize</key>
                <string>{205,228}</string>
                <key>textureRect</key>
                <string>{{687,1150},{205,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kimimaro_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,204}</string>
                <key>spriteSourceSize</key>
                <string>{234,204}</string>
                <key>textureRect</key>
                <string>{{279,1842},{234,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisame_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{1459,230},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Konan_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,226}</string>
                <key>spriteSourceSize</key>
                <string>{188,226}</string>
                <key>textureRect</key>
                <string>{{1086,1149},{188,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Konan_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,228}</string>
                <key>spriteSourceSize</key>
                <string>{144,228}</string>
                <key>textureRect</key>
                <string>{{897,920},{144,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lee_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,228}</string>
                <key>spriteSourceSize</key>
                <string>{214,228}</string>
                <key>textureRect</key>
                <string>{{471,1152},{214,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minato_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,228}</string>
                <key>spriteSourceSize</key>
                <string>{213,228}</string>
                <key>textureRect</key>
                <string>{{472,921},{213,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nagato_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,228}</string>
                <key>spriteSourceSize</key>
                <string>{215,228}</string>
                <key>textureRect</key>
                <string>{{470,1382},{215,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Naruto_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,228}</string>
                <key>spriteSourceSize</key>
                <string>{233,228}</string>
                <key>textureRect</key>
                <string>{{431,691},{233,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Neji_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{1695,230},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Orochimaru_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,228}</string>
                <key>spriteSourceSize</key>
                <string>{204,228}</string>
                <key>textureRect</key>
                <string>{{687,1380},{204,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pain_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{515,460},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RikudoNaruto_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{279,461},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SageJiraiya_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{751,460},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SageNaruto_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,227}</string>
                <key>spriteSourceSize</key>
                <string>{234,227}</string>
                <key>textureRect</key>
                <string>{{1043,920},{234,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sai_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,228}</string>
                <key>spriteSourceSize</key>
                <string>{190,228}</string>
                <key>textureRect</key>
                <string>{{894,1150},{190,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sakura_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,229}</string>
                <key>spriteSourceSize</key>
                <string>{193,229}</string>
                <key>textureRect</key>
                <string>{{236,691},{193,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sakura_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{987,460},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sasuke_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{1223,460},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shikamaru_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,223}</string>
                <key>spriteSourceSize</key>
                <string>{234,223}</string>
                <key>textureRect</key>
                <string>{{1251,1377},{234,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shino_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,227}</string>
                <key>spriteSourceSize</key>
                <string>{234,227}</string>
                <key>textureRect</key>
                <string>{{1086,690},{234,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Suigetsu_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,228}</string>
                <key>spriteSourceSize</key>
                <string>{194,228}</string>
                <key>textureRect</key>
                <string>{{888,1610},{194,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tenten_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,227}</string>
                <key>spriteSourceSize</key>
                <string>{188,227}</string>
                <key>textureRect</key>
                <string>{{1084,1610},{188,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tenten_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,228}</string>
                <key>spriteSourceSize</key>
                <string>{208,228}</string>
                <key>textureRect</key>
                <string>{{687,920},{208,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tobi_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,228}</string>
                <key>spriteSourceSize</key>
                <string>{233,228}</string>
                <key>textureRect</key>
                <string>{{236,1152},{233,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tobirama_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{1459,460},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tsunade_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{1695,460},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tsunade_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{236,922},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonds_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{236,21},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,21}</string>
                <key>spriteSourceSize</key>
                <string>{75,21}</string>
                <key>textureRect</key>
                <string>{{1931,130},{75,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_btn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,19}</string>
                <key>spriteSourceSize</key>
                <string>{73,19}</string>
                <key>textureRect</key>
                <string>{{1931,153},{73,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>detail_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,26}</string>
                <key>spriteSourceSize</key>
                <string>{101,26}</string>
                <key>textureRect</key>
                <string>{{1931,0},{101,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1931,202},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>golds_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{236,0},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>golds_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{257,0},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,16}</string>
                <key>spriteSourceSize</key>
                <string>{60,16}</string>
                <key>textureRect</key>
                <string>{{1931,225},{60,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{153,2030},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{216,2030},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,16}</string>
                <key>spriteSourceSize</key>
                <string>{60,16}</string>
                <key>textureRect</key>
                <string>{{1931,243},{60,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_ss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,16}</string>
                <key>spriteSourceSize</key>
                <string>{70,16}</string>
                <key>textureRect</key>
                <string>{{81,2030},{70,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_sss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,16}</string>
                <key>spriteSourceSize</key>
                <string>{79,16}</string>
                <key>textureRect</key>
                <string>{{0,2030},{79,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>return_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{1931,174},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,254},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,508},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,762},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,1016},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,1270},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{-1.0578,-1.4252}</string>
                <key>spriteOffset</key>
                <string>{66,-75}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1931,28},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{-0.0564557,-0.255949}</string>
                <key>spriteOffset</key>
                <string>{37,-46}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{515,1842},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.371048,0.243238}</string>
                <key>spriteOffset</key>
                <string>{11,-20}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1276,1149},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.51008}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{234,250}</string>
                <key>spriteSourceSize</key>
                <string>{234,250}</string>
                <key>textureRect</key>
                <string>{{0,1778},{234,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{1.23125,1.445}</string>
                <key>spriteOffset</key>
                <string>{45,-54}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{675,1842},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{117,-125}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{256,21},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,1524},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Record.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57715170ee649aff2d9e6d538f6859b0:a2621ead272c2675b51ce304840e19b9:1d1cc2c1207ace6940f7d0186a59f6e2$</string>
            <key>textureFileName</key>
            <string>Record.png</string>
        </dict>
    </dict>
</plist>
